# Archivo de ejemplo para Variables de Entorno (.env.local)
# Reemplaza estas variables en tu entorno de despliegue si utilizas un bundler o marco Next.js / Vite / Vercel

FIREBASE_API_KEY=AIzaSyBhRM0PFeKfBQetEa40diX7ExbTaxeDkMc
FIREBASE_AUTH_DOMAIN=elarabe-b1c76.firebaseapp.com
FIREBASE_PROJECT_ID=elarabe-b1c76
FIREBASE_STORAGE_BUCKET=elarabe-b1c76.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=596637175626
FIREBASE_APP_ID=1:596637175626:web:dfcbfc1fc88f99afd27bb3
