rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Contenido dinámico de la landing page (Textos)
    match /site_content/{document} {
      allow read, write: if true;
    }

    // Galería de imágenes del portafolio
    match /gallery/{document} {
      allow read, write: if true;
    }

    // Mensajes y consultas recibidas del formulario
    match /consultas/{document} {
      allow read, write: if true;
    }
  }
}
