rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Archivos e imágenes de la galería
    match /gallery/{allPaths=**} {
      allow read: if true; // Lectura pública de imágenes
      allow write, create, update, delete: if request.auth != null; // Subida y borrado restringido a admin autenticado
    }
  }
}
