rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Imágenes y archivos de la galería
    match /gallery/{allPaths=**} {
      allow read: if true; // Lectura pública
      allow write, create, update, delete: if request.auth != null; // Modificación y borrado solo por admin autenticado
    }
  }
}
